@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

:root[data-theme="light"] {
  --text-standard: #000000;
  --bg-standard: #ffffff;
  --correct-bg: #b6ffd0;
  --correct-border: #34d399;
  --correct-text: #15803d;
  --wrong-bg: #fee2e2;
  --wrong-border: #f87171;
  --wrong-text: #b91c1c;
  --button-answered: #d3d3d3e1;
  --button-unanswered: #e2e8f0;
  --button-correct: #22c55e;
  --button-wrong: #ef4444;
  --button-answered-font-color: white;
  --button-unanswered-font-color: #334155;
  --hover-bg: #f1f5f9;
  --modal-bg: #ffffff;
  --modal-text: #1f2937;
  --modal-warning-bg: #fff8b9;
  --modal-warning-text: #78350f;
  --text-color: #3d3d3d;
  --bg-blue: #e0f2ff;
  --bg-bluer: #9cd0ec;
}

:root[data-theme="dark"] {
  --text-standard: #ffffff;
  --bg-standard: #1f2937;
  --correct-bg: #064e3b;
  --correct-border: #10b981;
  --correct-text: #6ee7b7;
  --wrong-bg: #7f1d1d;
  --wrong-border: #ef4444;
  --wrong-text: #fca5a5;
  --button-answered: #1e2227c7;
  --button-unanswered: #374151;
  --button-correct: #005c3d;
  --button-wrong: #9e2727;
  --button-answered-font-color: grey;
  --button-unanswered-font-color: #cbd5e1;
  --hover-bg: #374151;
  --modal-bg: #1f2937;
  --modal-text: #f6f4f3;
  --modal-warning-bg: #251919ce;
  --modal-warning-text: #ffe4a1;
  --text-color: #b1afaf;
    --bg-blue: #2d3a4d;
    --bg-bluer: #395074;
}

.bg-standard {
  background-color: var(--bg-standard);
}

.bg-blue {
  background-color: var(--bg-blue);
}

.bg-hover {
  background-color: var(--hover-bg);
}

.text-standard {
  color: var(--text-standard);
}

.confirm-btn {
  background-color: #2563EB;
}
.confirm-btn:hover {
  background-color: #1D4ED8;
}

.cancel-btn {
  background-color: var(--bg-blue);
}
.cancel-btn:hover {
  background-color: var(--bg-bluer);
}


.katex,
.katex .katex-html,
.katex .katex-mathml {
  font-weight: normal !important;
  color: inherit !important;
  text-shadow: none !important;
}

p .katex,
span .katex {
  font-size: 1em !important;
}

.larger-math .katex,
.larger-math .katex-html,
.larger-math .katex-mathml {
  font-size: 1.2em !important;
}
